@font-face {
    font-family: 'logo';
    src: url('/static/font/Clouts!.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 40, 40);
}

.container {
    width: 100%;
    max-width: 450px;
    background: linear-gradient(goldenrod, black);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 25px 35px;
    border: 2px solid goldenrod;
    box-shadow: rgba(133, 189, 215, 0.878) 0px 10px 30px -20px;
}

.text-center {
    font-weight: 900;
    font-size: 30px;
    color: white;
}

.form .form-control {
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    border-inline: 2px solid transparent;
}

.form .form-control:focus {
    outline: none;
    border-inline: 2px solid #12b1d1;
}

.btn-primary {
    font-weight: bold;
    background: linear-gradient(goldenrod, black);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
    transform: scale(1.03);
}

.btn-primary:active {
    transform: scale(0.95);
}